@model InmobiliariaUlP_2025.Models.Inmueble

@{
    ViewData["Title"] = "Crear inmueble";
}

<h1>Crear inmueble</h1>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form asp-action="Crear" method="post">

    <div class="mb-3">
        <label asp-for="PropietarioId" class="form-label">Propietario</label>
        <select asp-for="PropietarioId" class="form-select">
            <option value="0">Seleccione propietario...</option>
            @foreach (var p in (IEnumerable<Propietario>)ViewBag.Propietarios)
            {
                <option value="@p.Id">@p.Apellido @p.Nombre</option>
            }
        </select>
        <span asp-validation-for="PropietarioId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Direccion"></label>
        <input asp-for="Direccion" class="form-control" />
        <span asp-validation-for="Direccion" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Uso"></label>
        <select asp-for="Uso" class="form-select"
                asp-items="Html.GetEnumSelectList<Uso>()"></select>
        <span asp-validation-for="Uso" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Tipo"></label>
        <select asp-for="Tipo" class="form-select"
                asp-items="Html.GetEnumSelectList<Tipo>()"></select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NoAmbientes"></label>
        <input asp-for="NoAmbientes" class="form-control" type="number" />
        <span asp-validation-for="NoAmbientes" class="text-danger"></span>
    </div>

    <!-- COORDENADAS -->
    <div class="mb-3">
        <label asp-for="Latitud"></label>
        <input asp-for="Latitud" class="form-control" type="number" step="any" />
        <span asp-validation-for="Latitud" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Longitud"></label>
        <input asp-for="Longitud" class="form-control" type="number" step="any" />
        <span asp-validation-for="Longitud" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Precio"></label>
        <input asp-for="Precio" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Precio" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Disponibilidad"></label>
        <select asp-for="Disponibilidad" class="form-select">
            <option value="1">SUSPENDIDO</option>
            <option value="2">DESOCUPADO</option>
        </select>

    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
