@model InmobiliariaUlP_2025.Models.Contrato
@{
    ViewData["Title"] = "Nuevo Contrato";
}

<h2>Nuevo Contrato</h2>

<form asp-action="Crear" method="post">

    <div class="mb-3">
        <label>Inmueble</label>
        <select asp-for="InmuebleId" asp-items="ViewBag.Inmuebles" class="form-control">
            <option value="">-- Seleccione --</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Inquilino</label>
        <select asp-for="InquilinoId" asp-items="ViewBag.Inquilinos" class="form-control">
            <option value="">-- Seleccione --</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Fecha Inicio</label>
        <input asp-for="FechaInicio" type="date" class="form-control" value="" />
    </div>

    <div class="mb-3">
        <label>Fecha Fin</label>
        <input asp-for="FechaFin" type="date" class="form-control" value="" />
    </div>

    <div class="mb-3">
        <label>Monto Mensual</label>
        <input asp-for="MontoMensual" class="form-control" />
    </div>

    <button class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
